@model RecruitmentAgency.Models.Vacancy

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vacancy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Requirements)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Requirements)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PositionsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PositionsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyOffice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyOffice.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobTitle.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recruiter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recruiter.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tariff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tariff.TariffId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VacancyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
