@model IEnumerable<RecruitmentAgency.Models.Vacancy>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3 class="text-dark mb-4">Vacancies</h3>
        </div>
        <div class="col text-right">
            <a class="btn btn-primary" asp-action="Create"><i class="fa fa-plus"></i> Create new</a>
        </div>
    </div>
    <div class="card shadow">
        <div class="card-body">
            @*<form method="get" asp-action="Index">
                <div class="row">
                    <div class="col-md-6 text-nowrap">
                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                            <label asp-for="PageSize">
                                Show&nbsp;
                                <select asp-for="PageSize" class="form-control form-control-sm custom-select custom-select-sm" asp-items="Model.DefaultPageSizes" onchange="this.form.submit()">
                                </select>&nbsp;
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-right dataTables_filter" id="dataTable_filter">
                            <label asp-for="SearchQuery"><input asp-for="SearchQuery" type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search" /></label>
                        </div>
                    </div>
                </div>
            </form>
            <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                @if (Model.Items.Any())
                {*@
                    <table class="table my-0" id="dataTable">
                        <thead>
                            <tr>
                                <th>Company</th>
                                <th>Office</th>
                                <th>Customer</th>
                                <th>Job title</th>
                                <th>Positions</th>
                                <th>Start date</th>
                                <th>Closed</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-truncate" title="@item.CompanyOffice.Company.Name">@item.CompanyOffice.Company.Name</td>
                                    <td class="text-truncate" title="@($"{item.CompanyOffice.City.Name}, {item.CompanyOffice.Address}")">@($"{item.CompanyOffice.City.Name}, {item.CompanyOffice.Address}")</td>
                                    <td class="text-truncate" title="@($"{item.Customer.FirstName} {item.Customer.LastName}")">@($"{item.Customer.FirstName} {item.Customer.LastName}")</td>
                                    <td class="text-truncate" title="@item.JobTitle.Name">@item.JobTitle.Name</td>
                                    <td>@item.PositionsCount</td>
                                    <td>@item.StartDate.ToString("dd.MM.yyyy")</td>
                                    <td>
                                        @*@if (item.EndDate.HasValue)
                                        {
                                            <i class="fas fa-check text-success"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-close text-danger"></i>
                                        }*@
                                        @item.EndDate.HasValue
                                    </td>
                                    <td>
                                        <div class="dropdown show no-arrow">
                                            <button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                                            <div class="dropdown-menu shadow dropdown-menu-right animated--fade-in">
                                                <a class="dropdown-item" onclick="openVacancyDetails(@item.VacancyId)" role="button">&nbsp;View details</a>
                                                <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.VacancyId">&nbsp;Edit vacancy</a>
                                                <a class="dropdown-item" asp-action="Applications" asp-route-vacancyId="@item.VacancyId">&nbsp;View applications</a>
                                                @if (!item.EndDate.HasValue)
                                                {
                                                    <a class="dropdown-item" onclick="openApplicationCreate(@item.VacancyId)">&nbsp;Add application</a>
                                                }
                                                @if (item.Payments.Sum(x => x.Sum) < (item.PositionsCount * item.Tariff.PriceForCandidate))
                                                {
                                                    <a class="dropdown-item" onclick="openCreatePayment(@item.VacancyId)" role="button">&nbsp;Add payment</a>
                                                }
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th><strong>Company</strong></th>
                                <th><strong>Office</strong></th>
                                <th><strong>Customer</strong></th>
                                <th><strong>Job title</strong></th>
                                <th><strong>Positions</strong></th>
                                <th><strong>Start date</strong></th>
                                <th><strong>Closed</strong></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                @*}
                else
                {
                    <partial name="_NoResultsPlaceholder" />
                }
            </div>
            @if (Model.CountOfPages > 0)
            {
                <partial name="_Pagination" model="Model" />
            }*@
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $('#dataTable').DataTable({
            searchPane: true,
            columnDefs: [
                {
                    targets: [7],
                    orderable: false,
                    searchable: false,
                    searchPanes: { show: false }
                },
                {
                    targets: [0, 1, 2, 3, 7],
                    searchPanes: { show: true }
                },
                {
                    targets: [4],
                    searchable: false
                },
                {
                    targets: [6],
                    orderable: false,
                    searchable: false,
                    render: function (rowData, rowIdx) {
                        return rowData == 'True' ? '<i class="fas fa-check text-success"></i>' : '<i class="fa fa-close text-danger"></i>';
                    },
                    searchPanes: {
                        show: true,
                        options: [
                            {
                                label: 'Yes',
                                value: function (rowData, rowIdx) {
                                    return rowData[6] == 'True';
                                }
                            },
                            {
                                label: 'No',
                                value: function (rowData, rowIdx) {
                                    return rowData[6] == 'False';
                                }
                            }
                        ]
                    }
                }
            ],
            language: {
                searchPanes: {
                    collapse: { 0: '<i class="fas fa-filter"></i>', _: '<i class="fas fa-filter"></i> (%d)' }
                }
            },
            buttons: [
                {
                    extend: 'searchPanes',
                    className: 'btn btn-light',
                    titleAttr: 'Filters'
                }
            ],
            dom:
                "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6 d-flex flex-row-reverse no-gutters align-items-center'" +
                    "<'col-sm-auto col-12 text-right ml-2 mb-2'B><'col-sm-auto col-12'f>>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>"
        });
    </script>
}